* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.fieldset {
  border: 1.5px solid;
  border-color: #1c4059;
  border-radius: 1em;
  margin: 1em 1em 1em;
  padding: 0 1em 1em;
}

.legend {
  transform: translatey(-55%);
  width: max-content;
  background: #e6e7ee;
  padding: 0 0.25em;
}
